<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey you,

    Your trade request has been sent to the other gamer. Expect to hear back from them in your messages page.

    Cheers,
    playd
  </h1>
  
  </body>
</html>
