<div class="home-brand">playd</div>

<div class="home-tag">play.trade.repeat</div>

<div class="path-select container">
  <div class="row justify-content-end">
    <div class="col-3">
      <a class="home-link" href="/users/sign_in">Login</a>
    </div>

    <div class="col-3">
      <a class="home-link col" href="/users/sign_up">Sign Up</a>
    </div>

  </div>
</div>
