
<h1>Dashboard</h1>


<%= render "dashboard" %>

      <div class="fourteen wide centered column">
        <h2 class="ui header">
          <i class="mail icon"></i>

        </h2>
        <div class="ui purple inverted menu">
          <i class="home icon"></i>
            <% if current_user %>
              <%= link_to "Mailbox", conversations_path, class: "item" %>


            <% end %>
        </div>
      </div>
