/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   margin: 0;
   padding: 0;
   color: #8a9fc6;
 }

 .background, .background-home {
   width: 100%;
   min-height: 500px;
   position: absolute;
   margin-top: -293px;
   z-index: -1;
    /* mask: */
   background-image: -webkit-linear-gradient(#1C5F5F 50%, #000000 100%);
   background-image: -o-linear-gradient(#1C5F5F 50%, #000000 100%);
   background-image: linear-gradient(#1C5F5F 50%, #000000 100%);
   -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
   clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  }

  .background-home {
   min-height: 100%;
   margin: 0;
   background-image: -webkit-linear-gradient(#1C5F5F 50%, #000000 100%);
   background-image: -o-linear-gradient(#1C5F5F 50%, #000000 100%);
   background-image: linear-gradient(#1C5F5F 50%, #000000 100%);
   -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
   clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  }

/*nav*/
 a:hover {
  background-color: transparent !important;
 }

 .dropdown-menu {
   background-color: transparent !important;
 }

 nav a {
   color: #CDDFF4 !important;
  }

  .nav-item .dropdown {
    color: black !important;
  }

 .navbar-brand {
   font-family: 'Tulpen One', cursive;
   font-size: 2.5rem;
 }

/*home page*/
.home-brand, .home-tag, .ath-brand {
  font-family: 'Tulpen One', cursive;
  font-size: 15rem;
  text-align: center;
  color: #FFF !important;
  padding-top: 50%;
}

.home-tag {
  font-family:'Poiret One', cursive;
  font-size: 1.5rem;
  padding-top: 33%;
}

.path-select {
  text-align: center;
  position: fixed;
  bottom: 0;
}

.col-3 {
  padding: 0 0 10px 0;
}

/*sign up / log in etc*/
.ath-brand {
  padding-top: 30%;
}

.auth-fields {
  text-align: center;
  padding-top: 30%;

}

/*game cards*/
 .game_card_image {
   width: 95%;
   margin-top: 5px;
   border-radius: 3px;
   display: block;
 }
